[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "linconGaussR"]
	path = linconGaussR
	url = https://github.com/yunyishen/lincongaussr
[submodule "robustcov"]
	path = robustcov
	url = https://github.com/yunyishen/robustcov
